// path dir of singularity
dir_singularity = '/isilon/BIO_INFO/Hugo/Nxf_Samtools_VarScan/'
// dir_singularity_team_bioinfo = '/isilon/BIO_INFO/TEAM_bioinfo_CBP/DEV/apps_containers/'

params.ref = "/isilon/BIO_INFO/TEAM_bioinfo_CBP/DATA/REFERENCES/HG19/UCSC/ucsc.hg19.fasta"
params.index = "/isilon/BIO_INFO/TEAM_bioinfo_CBP/DATA/REFERENCES/HG19/UCSC/ucsc.hg19.fasta.fai"
params.dict = "/isilon/BIO_INFO/TEAM_bioinfo_CBP/DATA/REFERENCES/HG19/UCSC/ucsc.hg19.dict"

params.resdir = "/mdrun10/analysis/Hugo/results_tests_Nxf_nsv_pipeline"

params.initfilesdir = "isilon/BIO_INFO/Hugo/Nxf_Samtools_VarScan/VCF_VARSCAN"

process {

	executor='slurm'

	$samtools_mpileup{
		cpus = 6
		memory = 20.GB
		container = "$dir_singularity/Samtools/samtools_v0.1.18.simg"
		queue = 'nodes'
	}


	$varscan_mpileup2cns{
		cpus = 6
		memory = 20.GB
		container = "$dir_singularity/VarScan/2.3.6/VarScan_v2.3.6.simg"
		queue = 'nodes'
	}
}
